{% extends 'Layouts/authenticated-layout.html' %}
{# 
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="./css/home.css">
{% endblock %} #}

{# {% block content %}
<main></main>
{% endblock %} #}